<h1>Log In Below:</h1>
<form action='/sessions' method='POST'>
<input type="hidden" name="_method" value="patch">
    User Email: <input id="email" type="text" name="email" /><br>
    User Password: <input id="password" type="text" name="password"  /><br>
<input type="submit" value="Log In">
</form>